.iconImage {
  height: 60px;
  width: 65px;
}

.separate_gion {
  margin-bottom: 5px;
}

.header-profile-user {
  height: 60px;
  width: 60px;
  background-color: #f6f6f6;
  padding: 3px;
}

.main-header {
  padding-left: 20px;
  z-index: 1;
}
