.container {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
  background: #a79bf2;
  height: 30%;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}
.mainCard {
  border-radius: 15px;
  z-index: 2;
  width: 450px;
  height: 80vh;
}
.login-container {
  width: inherit;
  overflow-y: auto;
  padding-top: 12vh !important;
  padding-bottom: 5vh !important;
  height: inherit;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.btn-primary {
  display: block;
  width: 100%;
}

.iconBanner {
  z-index: 2;
  height: 80%;
  width: 80%;
  object-fit: contain;
}
.imgCircle {
  background-color: var(--body-bg);
  position: absolute;
  top: 14%;
  /* right: 46vw; */
  z-index: 3;
  height: 100px;
  width: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
