.sidebar-hidden {
  /* position: fixed; */
  left: -100vw;
  display: none;
  /* width: 0 !important; */
  transition: all 0.3s ease;
  /* position: relative; */
  z-index: 2;
}

.image-Logo {
  height: 90%;
  width: 90%;
  padding: 3px;
}

.buttonSidebar {
  background-color: #897afb;
  color: var(--box-bg);
  width: calc(100% - 50px);
  margin-right: 25px;
  margin-left: 25px;
}

.buttonSidebarNot {
  background-color: transparent;
  border: 1px solid #897afb;
  color: #897afb;
  width: calc(100% - 50px);
  margin-right: 25px;
  margin-left: 25px;
}
