<!-- SIDEBAR -->
<div class="sidebar sidebar-hidden" id="sidebar-container{{idSidebar}}">
  <div class="sidebar-logo">
    <a href="index.html">
      <img src="../../assets/logoH.png" alt="Protend logo" class="image-Logo" />
    </a>
    <div class="sidebar-close" id="sidebar-close{{idSidebar}}">
      <i class="bx bx-left-arrow-alt"></i>
    </div>
  </div>
  <!-- SIDEBAR MENU -->
  <div class="simlebar-sc" data-simplezas>
    <button
      class="btn buttonSidebar"
      *ngIf="!isRecording"
      (click)="onStartRecord()"
      data-toggle="modal"
      data-target="#myModal"
    >
      Let's take notes!
    </button>
    <button
      class="btn buttonSidebarNot"
      *ngIf="isRecording"
      (click)="onStopRecord()"
    >
      stop taking notes
    </button>
    <!-- inpuyt -->
    <div
      *ngIf="!isRecording"
      style="width: calc(100% - 50px); margin-right: 25px; margin-left: 25px"
    >
      <form [formGroup]="meeting" (ngSubmit)="onStartRecord()">
        <div class="form-group">
          <label for="url">Url meet a unirse</label>
          <input
            type="text"
            id="url"
            class="form-control"
            formControlName="url"
            name="url"
          />
        </div>
      </form>
    </div>
    <ul class="sidebar-menu tf">
      <li>
        <a (click)="goToHome()">
          <i class="bx bx-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a (click)="goToSearch()">
          <i class="bx bx-search"></i>
          <span>Search Historical</span>
        </a>
      </li>
      <li>
        <a (click)="goToStats()">
          <i class="bx bx-stats"></i>
          <span>Statistics</span>
        </a>
      </li>
      <li>
        <a (click)="goToCalendar()">
          <i class="bx bx-calendar"></i>
          <span>Calendar</span>
        </a>
      </li>
      <li (click)="goToSettings()">
        <a>
          <i class="bx bx-cog"></i>
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
