<header idHeader="Search"></header>
<sidebar idSidebar="Search"></sidebar>
<div class="main" id="main-contentSearch">
  <div class="main-content user">
    <div class="main_row">
      <div class="col-9 col-xl-12 main_column">
        <!-- Card section: -->
        <!-- Card component -->
        <div class="box card-box mb-20">
          <!-- custom box, box with border -->
          <div class="customBox">
            <ng-container
              *ngIf="res.meetings && res.meetings.length; else noValidMeet"
            >
              <div *ngFor="let meet of res.meetings; let i=index">
                <div
                  class="meetSlide"
                  (click)="goToMeetingByID(meet._id)"
                  [@hover]="hoverState === i ? 'hovered' : 'normal'"
                  (mouseenter)="setHoverState(i)"
                  (mouseleave)="setHoverState(null)"
                >
                  <span>
                    {{meet._source.date}}<br />
                    {{meet._source.organizer}}<br />
                    {{meet._source.start_Time}} - {{meet._source.end_Time}}<br />
                  </span>
                  <span *ngFor="let participants of meet._source.participants">
                    {{participants}}<br />
                  </span>
                </div>
                <ng-container *ngIf="i < res.meetings.length"
                  ><hr
                /></ng-container>
              </div>
            </ng-container>
            <ng-template #noValidMeet>
              <a style="color: #94a5dc"
                >There are no upcoming meetings scheduled</a
              >
            </ng-template>
          </div>
        </div>

        <!-- End card component -->
        <!-- END Card section: -->
      </div>
      <!-- CardLateral -->
      <div class="box card_lateral" *ngIf="false">
        <h5 class="title-box">Filters:</h5>

        <!-- !  -->
        <form class="row row-cols-sm-auto">
          <div class="col-12">
            <div class="input-group">
              <label for="inputInitDate">Start Date:</label>

              <input
                id="inputInitDate"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="inputInitDate"
                [(ngModel)]="model"
                [dayTemplate]="t"
                [displayMonths]="1"
                ngbDatepicker
                #d1="ngbDatepicker"
              />
              <button
                class="btn btn-outline-secondary bi bi-calendar3"
                (click)="d1.toggle()"
                type="button"
              ></button>
              <ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.faded]="isHovered(date)"
                  (mouseleave)="hoveredDate = null"
                >
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
            <div class="input-group">
              <label for="inputFinalDate">End Date:</label>
              <input
                id="inputFinalDate"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="inputFinalDate"
                [(ngModel)]="model2"
                ngbDatepicker
                [dayTemplate]="t"
                #d2="ngbDatepicker"
              />
              <button
                class="btn btn-outline-secondary bi bi-calendar3"
                (click)="d2.toggle()"
                type="button"
              ></button>
            </div>
            <div class="input-group">
              <label for="selectOrganizer">Organizer</label>
              <button id="selectOrganizer" (click)="openModal()">SELECT</button>
            </div>
          </div>
        </form>

        <!-- !  -->

        <h3>Participants:</h3>
        <ul>
          <li>user</li>
        </ul>
      </div>
      <!-- End CardLateral -->
    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->

<div class="overlay"></div>
