<header idHeader="Home"></header>
<sidebar idSidebar="Home"></sidebar>
<div class="main" id="main-contentHome">
  <div class="main-content user">
    <div class="main_row" style="justify-content: center" *ngIf="res != null">
      <div class="col-9 col-xl-12 main_column">
        <div class="box card-box mb-20">
          <div class="customBox customBox-Top" *ngIf="res.userName != null">
            <div class="columnTop" style="width: 15%">
              <h5 class="title-box name">{{res.userName}}</h5>
              <img
                class="rounded-circle profile-user"
                src="https://scontent.fbog4-2.fna.fbcdn.net/v/t39.30808-6/313430572_1463933487436561_500838002051145217_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGCT7-oaXSgosg6vtjMNorPhdnl70r1X-SF2eXvSvVf5GwHxLuh4hJup7_QRCw8rycqj2ygXfSRL7ZLJ-gV5jwF&_nc_ohc=07wr5fIxQLkAX8ycBc_&_nc_oc=AQlL1M9qKIvTMXZVLLDyTQrxKAU0NmJ18-uOO8lI09CRhpT48qdtpskykb8xlgms4NM&_nc_ht=scontent.fbog4-2.fna&oh=00_AfBHFCYNeA3Eh4bvnTB9On9_txyIGMBNwRXnDcDOrdNT3Q&oe=647E1D07"
                alt="Header Avatar"
              />
            </div>
            <div class="columnTop">
              <div class="row">
                <h3>User ID:</h3>
                <p>#{{res.userId}}</p>
              </div>
              <div class="row">
                <h3>Email:</h3>
                <p>{{res.email}}</p>
              </div>
              <div class="row">
                <h3>Number:</h3>
                <p>{{res.number}}</p>
              </div>
            </div>
            <div class="columnTop">
              <div class="row">
                <h3>Gender:</h3>
                <p>{{res.gender}}</p>
              </div>
              <div class="row">
                <h3>Language:</h3>
                <p>{{res.language}}</p>
              </div>
              <div class="row">
                <h3>Company:</h3>
                <p>{{res.company}}</p>
              </div>
            </div>
            <div class="columnTop" style="width: 10%; align-items: center">
              <h3 style="text-align: center !important; width: 100%">
                status:
              </h3>
              <div
                [ngClass]="res.isActive ? 'active' : 'inactive'"
                class="rounded-box"
              >
                <a>{{res.isActive ? 'ACTIVE' : 'INACTIVE'}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="secondRow">
          <div class="box card-box mb-20 boxGraph">
            <h5>Performance</h5>
            <graphRing
              [chartData]="chartData"
              [chartType]="chartType"
              [chartOptions]="chartOptions"
            >
            </graphRing>
            <div style="margin-top: 20px">
              <div>
                <span
                  ><a style="color: #a79bf2">{{res.userName}}</a>
                  In recent meetings has had an averageparticipation of
                  <a style="color: #9b8dff">{{res.participation}}%</a></span
                >
              </div>

              <div style="margin-top: 20px">
                <span
                  >The average overall stake in his company is
                  <a style="color: #d9c24e"
                    >{{res.participationAvgCompany}}%</a
                  ></span
                >
              </div>
            </div>
          </div>

          <div class="box card-box mb-20 upcoming">
            <h5 style="margin-bottom: 15px">Upcoming meetings</h5>
            <ng-container *ngIf="validMeet.length; else noValidMeet">
              <div *ngFor="let meet of validMeet.slice(0, 4); let i=index">
                <div
                  *ngIf="meet._source.validationDate"
                  class="meetSlide"
                  (click)="goToMeeting()"
                  [@hover]="hoverState === i ? 'hovered' : 'normal'"
                  (mouseenter)="setHoverState(i)"
                  (mouseleave)="setHoverState(null)"
                >
                  <a
                    ><ng-container
                      *ngIf="meet._source.validationDate != 'Today:' && meet.validationDate != 'Tomorrow:'; else noStyle"
                    >
                      <a style="color: #d9c24e"
                        >{{meet._source.validationDate}}</a
                      >
                    </ng-container>

                    <ng-template #noStyle>
                      <a>{{meet._source.validationDate}}</a>
                    </ng-template>
                    {{meet._source.start_Time}} - {{meet._source.end_Time}}
                    <span
                      style="color: #a79bf2"
                      *ngIf="meet.description.length <= 60"
                      >{{ meet._source.description }}</span
                    >
                    <span
                      style="color: #a79bf2"
                      *ngIf="meet._source.description.length > 60"
                      >{{ meet._source.description | slice:0:60 }}...</span
                    >
                  </a>
                </div>
                <ng-container *ngIf="i < 3"><hr /></ng-container>
              </div>
            </ng-container>
          </div>
          <ng-template #noValidMeet>
            <a style="color: #94a5dc"
              >There are no upcoming meetings scheduled</a
            >
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- END MAIN CONTENT -->

  <div class="overlay"></div>
</div>
