.main_column {
  width: 68% !important;
}
.customBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vh 10vw;
  border: 2px solid #d8d8f2;
  background-color: transparent;
  border-radius: 16px;
  padding-top: 5vh;
  margin-bottom: 20px;
}

.customBox h5.title-box {
  text-align: center;
  font-weight: bold;
  color: #8777f2;
  font-size: 24px !important;
  margin-bottom: 20px;
  line-height: 1.5;
}
.customBox h4 {
  text-align: center;
  color: #8777f2;
  font-size: 18px !important;
  margin-top: 10px;
  line-height: 1.5;
}

.customBox h2 {
  text-align: center;
  color: #838384;
  font-size: 14px !important;
  line-height: 1.5;
}

.customBox p {
  text-align: center;
  color: #838384;
  font-size: 14px !important;
  line-height: 1.5;
}

.customBox p.summary {
  text-align: center;
  color: #838384;
  font-size: 14px !important;
  line-height: 1.5;
}
.customBox .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-right: 70px;
}

.customBox .row span {
  width: 100px;
  color: #a79bf2;
  line-height: 1.5;
}
.customBox span {
  text-align: justify;
  display: inline-block;
  color: #838384;
  /* white-space: pre-line; */
  line-height: 1.5;
}
.row p {
  margin-left: 20px;
  line-height: 1.5;
}

.header-profile-user {
  height: 60px;
  width: 60px;
  background-color: #f6f6f6;
  padding: 3px;
}

.iconImage {
  height: 60px;
  width: 65px;
}

.main_row {
  display: flex;
  margin: 0 -15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.card_lateral {
  /* position: fixed;
  right: 0px; */
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card_lateral h5 {
  text-align: center;
  font-weight: bold;
  color: #8777f2;
  font-size: 24px !important;
  margin-bottom: 20px;
  line-height: 1.5;
}

.card_lateral h4 {
  text-align: center;
  color: #a79bf2;
  font-size: 20px !important;
  margin-bottom: 10px;
  line-height: 1.5;
}

.card_lateral p {
  text-align: center;
  color: #838384;
  font-size: 18px !important;
  margin-bottom: 6px;
  line-height: 1.5;
}

.card_lateral p.date {
  text-align: center;
  color: #838384;
  font-size: 20px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.card_lateral h3 {
  text-align: center;
  color: #a79bf2;
  font-size: 18px !important;
  margin-bottom: 10px;
  line-height: 1.5;
}

.card_lateral ul {
  list-style-type: none;
}

.card_lateral li:before {
  content: "-";
  margin-right: 10px;
}

.card_lateral li {
  text-align: center;
  color: #838384;
  font-size: 16px !important;
  line-height: 1.5;
}

.separate_gion {
  margin-bottom: 5px;
}

.box.card-box {
  flex-direction: column;
}
