<!-- SIDEBAR -->
<div class="sidebar">
  <div class="sidebar-logo">
    <a href="index.html">
      <img src="../assets/logoH.png" alt="Protend logo" />
    </a>
    <div class="sidebar-close" id="sidebar-close">
      <i class="bx bx-left-arrow-alt"></i>
    </div>
  </div>
  <!-- SIDEBAR MENU -->
  <div class="simlebar-sc" data-simplebar>
    <ul class="sidebar-menu tf">
      <li class="sidebar-submenu">
        <a href="index.html" class="sidebar-menu-dropdown current-menu-item">
          <i class="bx bxs-home"></i>
          <span>Dashboard</span>
          <div class="dropdown-icon">
            <i class="bx bx-chevron-down"></i>
          </div>
        </a>
        <ul class="sidebar-menu sidebar-menu-dropdown-content active">
          <li>
            <a href="index.html"> Dashboard </a>
          </li>
          <li>
            <a href="user-profile.html"> User Profile </a>
          </li>
          <li>
            <a href="user-login.html"> User Login </a>
          </li>
          <li>
            <a href="new-account.html"> New Account </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-submenu">
        <a href="project.html" class="sidebar-menu-dropdown">
          <i class="bx bxs-bolt"></i>
          <span>Project</span>
          <div class="dropdown-icon">
            <i class="bx bx-chevron-down"></i>
          </div>
        </a>
        <ul class="sidebar-menu sidebar-menu-dropdown-content">
          <li>
            <a href="project.html"> Project </a>
          </li>
          <li>
            <a href="project-details.html"> Project Details </a>
          </li>
          <li>
            <a href="new-project.html"> New Project </a>
          </li>
        </ul>
      </li>

      <li class="sidebar-submenu">
        <a href="clients.html" class="sidebar-menu-dropdown">
          <i class="bx bxs-user"></i>
          <span>Client</span>
          <div class="dropdown-icon">
            <i class="bx bx-chevron-down"></i>
          </div>
        </a>
        <ul class="sidebar-menu sidebar-menu-dropdown-content">
          <li>
            <a href="clients.html"> Manager Client </a>
          </li>
          <li>
            <a href="client-details.html"> Client Details </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="board.html">
          <i class="bx bxs-dashboard"></i>
          <span>Board</span>
        </a>
      </li>
      <li>
        <a href="calendar.html">
          <i class="bx bx-calendar"></i>
          <span>Calendar</span>
        </a>
      </li>

      <li>
        <a href="message.html">
          <i class="bx bxs-message-rounded-detail"></i>
          <span>Message</span>
        </a>
      </li>
      <li class="sidebar-submenu">
        <a href="chart-apex.html" class="sidebar-menu-dropdown">
          <i class="bx bxs-component"></i>
          <span>Components</span>
          <div class="dropdown-icon">
            <i class="bx bx-chevron-down"></i>
          </div>
        </a>
        <ul class="sidebar-menu sidebar-menu-dropdown-content">
          <li>
            <a href="chart-apex.html"> Apex Charts </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="darkmode-toggle" id="darkmode-toggle" onclick="switchTheme()">
          <div>
            <i class="bx bx-cog mr-10"></i>
            <span>darkmode</span>
          </div>

          <span class="darkmode-switch"></span>
        </a>
      </li>
    </ul>
  </div>
  <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
<!-- Main Header -->
<div class="main-header">
  <div class="d-flex">
    <div class="mobile-toggle" id="mobile-toggle">
      <i class="bx bx-menu"></i>
    </div>
    <img class="iconImage" src="../assets/BB_Color.png" alt="Header Avatar" />
    <div class="main-title">Meeting chosen</div>
  </div>

  <div class="d-flex align-items-center">
    <!-- App Search-->

    <!-- <div class="dropdown d-none d-lg-inline-block ms-1">
                    <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="bx bx-fullscreen"></i>
                        </button>
                </div> -->
    <div class="dropdown d-inline-block mt-12">
      <button
        type="button"
        class="btn header-item waves-effect"
        id="page-header-user-dropdown"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img
          class="rounded-circle header-profile-user"
          src="https://thumbs.dreamstime.com/b/retrato-masculino-del-icono-del-perfil-del-hombre-de-negocios-plano-47075259.jpg"
          alt="Header Avatar"
        />
        <span class="pulse-css"></span>
        <span class="info d-xl-inline-block color-span">
          <span class="d-block fs-20 font-w600">Randy Riley</span>
          <span class="d-block mt-7">randy.riley@gmail.com</span>
        </span>

        <i class="bx bx-chevron-down"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-end">
        <!-- item-->
        <a class="dropdown-item d-block" href="#"
          ><span class="badge bg-success float-end">11</span
          ><i class="bx bx-wrench font-size-16 align-middle me-1"></i>
          <span>Settings</span></a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger" href="user-login.html"
          ><i
            class="bx bx-power-off font-size-16 align-middle me-1 text-danger"
          ></i>
          <span>Logout</span></a
        >
      </div>
    </div>
  </div>
</div>
<!-- End Main Header -->

<!-- MAIN CONTENT -->
<div class="main">
  <div class="main-content user">
    <div class="main_row">
      <div class="col-9 col-xl-12 main_column">
        <!-- Card section: -->
        <!-- Card component -->
        <div class="box card-box mb-20">
          <!-- custom box, box with border -->
          <div class="customBox">
            <h5 class="title-box">Meeting Title</h5>
            <h4>Main Objectives:</h4>
            <h2 *ngFor="let objective of res.objective">{{objective}}</h2>
            <h4>Description:</h4>
            <p>{{res.objective}}</p>
          </div>
          <!-- END custom box, box with border -->
          <div class="customBox">
            <h5 class="title-box">Summary of the meeting</h5>
            <p class="summary">{{res.summary}}</p>
          </div>
          <div class="customBox">
            <h5 class="title-box">Commitments</h5>
            <div class="row" *ngFor="let commit of res.commitments">
              <span>{{commit.assigned_to}}</span>
              <p>{{commit.asignament}}</p>
            </div>
          </div>
          <div class="customBox">
            <h5 class="title-box">Meeting transcript</h5>
            <div class="separate_gion" *ngFor="let phrase of res.transcription">
              <span>
                Minute {{phrase.minute}} - {{phrase.speaker}}: {{phrase.speak}}
              </span>
            </div>
          </div>
        </div>
        <!-- End card component -->
        <!-- END Card section: -->
      </div>
      <div class="box card_lateral">
        <h5 class="title-box">Meeting Title</h5>
        <h4>Organizer: {{res.organizer}}</h4>
        <p>Start time: {{res.start_Time}}</p>
        <p>End time: {{res.end_Time}}</p>
        <p class="date">Date: {{res.date}}</p>
        <h3>Participants:</h3>
        <ul>
          <li *ngFor="let user of res.participants">{{user}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->

<div class="overlay"></div>
