<header idHeader="Internal"></header>
<sidebar idSidebar="Internal"></sidebar>

<!-- MAIN CONTENT -->
<div class="main" id="main-contentInternal">
  <div class="main-content user">
    <div class="main_row" *ngIf="res != null">
      <div class="col-9 col-xl-12 main_column">
        <!-- Card section: -->
        <!-- Card component -->
        <div class="box card-box mb-20">
          <!-- custom box, box with border -->
          <div class="customBox" *ngIf="res.objective != null">
            <h5 class="title-box">Meeting Title</h5>
            <h4>Main Objectives:</h4>
            <h2>{{res.objective}}</h2>
            <h4>Description:</h4>
            <p>{{res.description}}</p>
          </div>
          <!-- END custom box, box with border -->
          <div class="customBox" *ngIf="res.summary != null">
            <h5 class="title-box">Summary of the meeting</h5>
            <p class="summary">{{res.summary}}</p>
          </div>
          <div class="customBox" *ngIf="res.commitments != null">
            <h5 class="title-box">Commitments</h5>
            <div class="row" *ngFor="let commit of res.commitments">
              <span>{{commit.assigned_to}}</span>
              <p>{{commit.asignament}}</p>
            </div>
          </div>
          <div class="customBox" *ngIf="res.transcription != null">
            <h5 class="title-box">Meeting transcript</h5>
            <div class="separate_gion" *ngFor="let phrase of res.transcription">
              <span>
                <a style="font-weight: bold">Minute {{phrase.minute}}</a> -
                {{phrase.speaker}}: {{phrase.speak}}
              </span>
            </div>
          </div>
        </div>
        <!-- End card component -->
        <!-- END Card section: -->
      </div>
      <!-- CardLateral -->
      <div class="box card_lateral">
        <h5 class="title-box">Meeting Title</h5>
        <h4 *ngIf="res.organizer != null">Organizer: {{res.organizer}}</h4>
        <p *ngIf="res.start_Time != null">Start time: {{res.start_Time}}</p>
        <p *ngIf="res.end_Time != null">End time: {{res.end_Time}}</p>
        <p class="date" *ngIf="res.date != null">Date: {{res.date}}</p>
        <h3>Participants:</h3>
        <ul *ngIf="res.participants != null">
          <li *ngFor="let user of res.participants">{{user}}</li>
        </ul>
      </div>
      <!-- End CardLateral -->
    </div>
  </div>
</div>
<!-- END MAIN CONTENT -->

<div class="overlay"></div>
